/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

.login_box {
	width: 85%;
}
.eye {
    right: 29px;
}
/*sign up*/
.signup_form {
    width: 100% !important;
}


}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

.eye {
    right: 29px;
}

/*sign up*/
.signup_form {
    width: 500px;
}

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

.eye {
    right: 29px;
}

/*sign up*/
.signup_form {
    width: 600px;
}



}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

.login_box {
	width: 68%;
}


}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {

}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {

}